# =========================
# Python
# =========================

__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================

.venv/
venv/

# =========================
# PyCharm
# =========================

.idea/

# =========================
# Build files
# =========================

build/
dist/
output/

# =========================
# Logs
# =========================

*.log